/* definition des polices */
@font-face{
    font-family: 'Raleway';
    src: url('fonts/Raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.pageFlex{
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1025px) {
    .pageFlex{
        margin-top: 2px;
        max-width: 1440px;
        padding-left: 4%;
        padding-right: 4%;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .pageFlex{
        margin-top: 2px;
        max-width: 768px;
        padding-left: 4%;
        padding-right: 4%;
    }
}
@media screen and (max-width: 600px){
    .pageFlex{
        min-width: 340px;
        max-width: 375px;
    }
}

/*header/nav barre grand ecran */
@media screen and (min-width: 1025px) {
    header{
        height: 122px;
        max-width: 1440px;
        display: flex;
    }
    .nav{
        height: 112px;
        display: flex;
        align-items: center;
        align-self: flex-start;
    }
    .navHebergement, .navActivites{
        width: 11.5%;
        justify-content: center;
        color: black;
    }
    .navInscription{
        width: 8%;
        justify-content: center;
        color:#0065fc;
    }
    .logoReservia{
        width: 69%;
        height: 122px;
        margin: 0;
    }
}
/*header/nav barre tablette */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    header, .nav{
        height: 120px;
        display: flex;
        align-items: center;
    }
    .navHebergement, .navActivites{
        width: 27%;
        justify-content: center;
        color: black;
    }
    .navInscription{
        width: 21%;
        justify-content: flex-end;
        color:#0065fc;
    }
    .logoReservia{
        width: 25%;
    }
}
/*header/nav barre mobile*/
@media screen and (max-width: 600px) {
    header, .nav{
        display: flex;
        flex-wrap: wrap;
    }
    header{
        height: 136px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 20px;
        margin: auto;
    }
    .navHebergement, .navActivites{
        height: 50px;
        width: 50%;
        order: 2;
        color: black;
        align-items: center;
        justify-content: center;
        border-bottom: solid 3px #f2f2f2;
    }
    .navInscription{
        height: 86px;
        width: 44.4%;
        padding-right: 5.6%;
        order: 1;
        color:#0065fc;
        align-items: center;
        justify-content: flex-end;
    }
    .logoReservia{
        height: 86px;
        width: 44.4%;
        padding-left: 5.6%;
        margin: 0;
        align-items: center;
    }
}
/* effets des liens de la barre nav */
.nav, .nav a{
    text-decoration: none;
}
.ancreNav:visited {
    color: black;
}
.navInscription a:visited {
    color: #0065fc;
}
@media screen and (min-width: 1025px) {
    .navHover:hover {
        border-top: solid #0065fc 2px;
        margin-top: -2px;
        color: #0065fc;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .navHover:hover {
        border-top: solid #0065fc 2px;
        margin-top: -2px;
        color: #0065fc;
    }
}
@media screen and (max-width: 600px) {
    .navHover:hover {
        color: #0065fc;
        border-color: #0065fc;
    }
}
/* block recherche responsive */
.blockRecherche{
    display: flex;
    flex-direction: column;
}
.titreRecherche {
    line-height: 1em;
    margin-top: 21px;
}
.titreRecherche h1{
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 8px 0;
}
.titreRecherche p{
    margin: 8px 0;
}
@media screen and (max-width: 600px) {
    .blockRecherche{
        padding-left: 5.6%;
        padding-right: 5.6%;
    }
}
/* barre de recherche */
.barreDeRecherche{
    height: 49px;
    display: flex;
    align-items: center;
    border: solid 1px #f2f2f2;
    border-radius: 18px;
    margin-top: 15px;
}
.barreDeRecherche label{
    height: 50px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    font-size: 1.2em;
}
.inputRecherche{
    height: 49px;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
}
.inputRecherche:focus {
    outline: none; /* a ne pas faire pour des raisons d'accessibilité */
}
/*bouton recherche grand ecran */
.boutonRecherche{
    height: 51px;
    width: 134px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border: none;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
}
/* bouton recherche mobile */
.logoRecherche{
    height: 51px;
    width: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 17px;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    font-size: 1em;
}
@media screen and (min-width: 1025px) {
    .barreDeRecherche{
        width: 420px;
    }
    .inputRecherche{
        width: 234px;
    }
    .logoRecherche{
        display: none;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .barreDeRecherche{
        width: 430px;
        align-self: center;
    }
    .inputRecherche{
        width: 244px;
    }
    .logoRecherche{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .barreDeRecherche{
        width: 333px;
        align-self: center;
    }
    .inputRecherche{
        width: 230px;
    }
    .boutonRecherche{
        display: none;
    }
}
/* agencement et aperçu des boutons filtres*/
.filtresBlock{
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    margin-top: 23px;
}
.filtreBouton{
    height: 50px;
    display: flex;
    align-items: center;
    border: solid 2px #F2F2F2;
    border-left: none;
    border-radius: 40px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 0;
}
.filtreBouton p{
    margin: 13px;
}
.filtreP{
    margin-right: 26px;
}
@media screen and (min-width: 1025px) {
    .filtreBouton{
        margin-right: 26px;
    }
}
@media screen and (max-width: 1024px) {
    .filtresBlock{
        flex-wrap: wrap;
    }
    .filtreBouton{
        margin-right: 11px;
        margin-bottom: 13px;
    }
    .filtreP{
        width: 100%;
    }
}
/* effet des filtres en survolant */
.filtreBouton:hover {
    border-color: #deebff;
    background-color: #deebff;
    color: #0065fc;
    flex-direction: row-reverse;
    padding-right: 0;
}
/* effet des filtres en selectionant */
.filtreBouton:focus {
    outline: none;
    border-color: #deebff;
    background-color: #deebff;
    color: #0065fc;
    flex-direction: row-reverse;
    padding-right: 0;
}
/* position et aperçu des logo filtres */
.formeLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 100%;
    font-size: 1.2em;
}
/* infobulle */
.infoRecherche{
    display: flex;
}
.logoInfo{
    height: 22px;
    width: 22px;
    min-width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    font-size: 0.8em;
    color: #0065fc;
}
.infoRecherche p{
    margin: 0 0 0 12px;
}
@media screen and (min-width: 601px) {
    .infoRecherche{
        margin-top: 36px;
        align-items: center;
    }
}
@media screen and (max-width: 600px) {
    .infoRecherche{
        align-items: baseline;
        margin-top: 31px;
    }
}
/* Section hebergement */
.hebergementSection{
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}
.hebergementSection a{
    text-decoration: none;
    color: black;
}
.sectionH2{
    display: none;
}
@media screen and (max-width: 1024px){
    .hebergementSection{
        flex-direction: column-reverse;
    }
}
/* Block des hebergements recherchés */
.chambreBlock{
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    font-size: 1em;
}
.chambreBlock h2{
    font-size: 1.2em;
}
.afficherPlus{
    max-width: 100px;
}
.afficherPlus:hover{
    color: #0065fc;
}
/* Block des hebergements populaire */
.populaireBlock{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    background-color: #f2f2f2;
}
.populaireTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
}
.fa-chart-line{
    font-size: 1.2em;
}
@media screen and (min-width: 1025px) {
    .chambreBlock{
        background-color: #f2f2f2;
        min-width: 560px;
        max-width: 830px;
        padding: 25px;
    }
    .chambreBlock h2{
        margin: 20px 0 8px 15px;
    }
    .afficherPlus{
        margin: 29px 0 21px 15px;
    }
    .populaireBlock{
        margin-left: 5px;
        padding: 20px;
        border-radius: 18px;
    }
    .populaireTitle{
        margin: 26px 16px 8px 16px;
    }
}
/* blocks chambre et populaire tablette */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .chambreBlock{
        padding: 10px 2px;
        margin: 10px 0;
        background-color: #f2f2f2;
        border-radius: 18px;
    }
    .chambreBlock h2{
        margin: 0 16px 10px;
    }
    .afficherPlus{
        margin: 10px 0 5px 16px;
    }
    .populaireBlock{
        padding: 10px 2px;
        margin: 10px 0;
        border-radius: 18px;
    }
    .populaireTitle{
        margin: 0px 16px 10px;
    }
}
/* blocks chambre et populaire mobile */
@media screen and (max-width: 600px) {
    .chambreBlock h2{
        margin: 40px 20px 20px;
    }
    .afficherPlus{
        margin: 35px 0 30px 20px;
    }
    .populaireBlock{
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .populaireTitle{
        margin: 20px;
    }
}
/* block liste des chambres recherchées*/
.chambreListe{
    display: flex;
}
/* liens section chambres recherchées */
.chambreLien{
    height: 199px;
    background-color: white;
    display: flex;
    flex-direction: column;
    line-height: 0.8em;
    border-radius: 18px;
}
.chambreLien:hover{
    position: relative;
    top: -2px;
    box-shadow: 0px 3px 15px black;
}
.imageChambre{
    margin: 5px;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
    height: 114px;
}
.chambreLien h2{
    font-size: 1em;
    margin: 12px 0 0 16px;
}
.chambreLien p{
    font-size: 0.9em;
    margin: 10px 0 0 16px;
}
@media screen and (min-width: 1025px) {
    .chambreListe{
        flex-wrap: wrap;
    }
    .chambreListe a{
        margin: 15px auto;
    }
    .chambreLien{
        width: 246px;
    }
    .imageChambre{
        width: 236px;
    }
    .imageCannebiere{
        background-image: url("images/hebergements/large/cannebiere_large.jpg");
    }
    .imagePort{
        background-image: url("images/hebergements/large/port_large.jpg");
    }
    .imageMouettes{
        background-image: url("images/hebergements/large/mouettes_large.jpg");
    }
    .imageMer{
        background-image: url("images/hebergements/large/mer_large.jpg");
    }
    .imagePanier{
        background-image: url("images/hebergements/large/panier_large.jpg");
    }
    .imageAmina{
        background-image: url("images/hebergements/large/amina_large.jpg");
    }
}
@media screen and (max-width: 1024px) {
    .chambreLien{
        width: 334px;
    }
    .imageChambre{
        width: 324px;
    }
    .imageCannebiere{
        background-image: url("images/hebergements/small/cannebiere_small.jpg");
    }
    .imagePort{
        background-image: url("images/hebergements/small/port_small.jpg");
    }
    .imageMouettes{
        background-image: url("images/hebergements/small/mouettes_small.jpg");
    }
    .imageMer{
        background-image: url("images/hebergements/small/mer_small.jpg");
    }
    .imagePanier{
        background-image: url("images/hebergements/small/panier_small.jpg");
    }
    .imageAmina{
        background-image: url("images/hebergements/small/amina_small.jpg");
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .chambreListe{
        flex-direction: row;
        overflow: scroll;
        scroll-behavior: smooth;
    }
    .chambreListe a{
        margin: 6px;
    }
}
@media screen and (max-width: 600px) {
    .chambreListe{
        flex-direction: column;
    }
    .chambreListe a{
        margin: 6px auto;
    }
    .chambreLien{
        box-shadow: 0 0 8px #d9d9d9;
    }
}
/* block liste des chambres populaires*/
.populaireListe{
    display: flex;
    flex-direction: column;
}
/* liens section chambres populaires */
.populaireLien{
    width: 334px;
    height: 144px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 0.8em;
    border-radius: 18px;
}
.populaireLien:hover{
    position: relative;
    top: -2px;
    box-shadow: 0px 3px 15px black;
}
.imagePopulaire{
    height: 134px;
    width: 127px;
    margin: 5px;
    border-radius: 15px 0 0 15px;
    background-size: cover;
    background-position: center;
}
.populaireLien h2{
    max-width: 170px;
    font-size: 1em;
    line-height: 1.1em;
    margin: 19px 0 0 0;
}
.populaireLien p{
    font-size: 0.9em;
    margin: 14px 0 0 0;
}
@media screen and (min-width: 1025px) {
    .populaireListe a{
        margin: 16px;
    }
    .imageSoleil{
        background-image: url("images/hebergements/large/soleil_large.jpg");
    }
    .imageEau{
        background-image: url("images/hebergements/large/eau_large.jpg");
    }
    .imageBlanc{
        background-image: url("images/hebergements/large/blanc_large.jpg");
    }
}
@media screen and (max-width: 1024px) {
    .imageSoleil{
        background-image: url("images/hebergements/small/soleil_small.jpg");
    }
    .imageEau{
        background-image: url("images/hebergements/small/eau_small.jpg");
    }
    .imageBlanc{
        background-image: url("images/hebergements/small/blanc_small.jpg");
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .populaireListe{
        flex-direction: row;
        overflow: scroll;
        scroll-behavior: smooth;
    }
    .populaireListe a{
        margin: 6px;
    }
}
@media screen and (max-width: 600px) {
    .populaireListe a{
        margin: 6px auto;
    }
}
/* couleurs et placement des notes */
.noteChambre{
    margin: 10px 0 0 16px;
    font-size: 0.7em;
}
.notePopulaire{
    margin: 38px 0 0 0;
    font-size: 0.7em;
}
.faBleu{
    color: #0065fc;
}
.faGris{
    color: #d9d9d9;
}
/* Section Activité */
.activiteSection{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}
.activiteSection h2{
    font-size: 1.2em;
}
.activiteSection a{
    text-decoration: none;
    color: black;
}
/* liste des activité et organisation des liens */
.activiteListe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.activiteLien{
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: 0 3px 10px #d9d9d9;
}
.activiteLien:hover{
    position: relative;
    top: -2px;
    box-shadow: 0px 3px 15px black;
}
.activiteLien h3{
    font-size: 1em;
    margin-left: 20px;
}
.imageActivite{
    background-size: cover;
    background-position: center;
    border-radius: 18px 18px 0 0;
}
@media screen and (min-width: 1025px) {
    .activiteListe{
        max-height: 495px;
        width: auto;
        align-content: space-between;
    }
    .activiteListe a{
        margin:20px auto;
    }
    .activiteLien{
        width: 302px;
    }
    .vieuxPortLien{
        height: 445px;
    }
    .imageVieux{
        height: 390px;
        background-image: url("images/activites/large/vieux_large.jpg");
    }
    .pomeguesLien{
        height: 236px;
    }
    .imagePomegues{
        height: 181px;
        background-image: url("images/activites/large/pomegues_large.jpg");
    }
    .frioulLien{
        height: 164px;
    }
    .imageFrioul{
        height: 109px;
        background-image: url("images/activites/large/frioul_large.jpg");
    }
    .calanquesLien{
        height: 445px;
    }
    .imageCalanques{
        height: 390px;
        background-image: url("images/activites/large/calanques_large.jpg");
    }
    .dameLien{
        height: 195px;
    }
    .imageDame{
        height: 140px;
        background-image: url("images/activites/large/dame_large.jpg");
    }
    .longchampLien{
        height: 208px;
    }
    .imageLongchamp{
        height: 153px;
        background-image: url("images/activites/large/longchamp_large.jpg");
    }
}
@media screen and (min-width: 1025px) and (max-width: 1301px) {
    .activiteListe{
        max-height: 800px;
        width: auto;
    }
}
@media screen and (max-width: 1024px) {
    .imageVieux{
        background-image: url("images/activites/small/vieux_small.jpg");
    }
    .imagePomegues{
        background-image: url("images/activites/small/pomegues_small.jpg");
    }
    .imageFrioul{
        background-image: url("images/activites/small/frioul_small.jpg");
    }
    .imageCalanques{
        background-image: url("images/activites/small/calanques_small.jpg");
    }
    .imageDame{
        background-image: url("images/activites/small/dame_small.jpg");
    }
    .imageLongchamp{
        background-image: url("images/activites/small/longchamp_small.jpg");
    }
}
/* section activité tablette responsive */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .activiteSection h2{
        text-align: center;
    }
    .activiteListe{
        flex-direction: row;
        border-top: solid 2px #f2f2f2;
        border-bottom: solid 2px #f2f2f2;
        border-radius: 18px;
    }
    .activiteListe a{
        margin:20px auto;
        height: fit-content;
    }
    .activiteLien{
        width: 275px;
        height: 300px;
    }
    .imageActivite{
        width: 275px;
        height: 245px;
    }
}
/* section activité mobile responsive */
@media screen and (max-width: 600px) {
    .activiteSection h2{
        margin-left: 20px;
    }
    .activiteListe a{
        margin: 11px auto;
    }
    .activiteLien{
        width: 334px;
        height: 190px;
    }
    .imageActivite{
        width: 334px;
        height: 135px;
    }
}